body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    /* background-image: url(loginbg.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.login-form {
    display: none;
}

.login-form.active {
    display: block;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3ba5e7;
}

.toggle-btn {
    background-color: #f0f0f0;
    color: #333;
    margin-top: 20px;
}

.register-btn {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
}

.register-btn:hover {
    background-color: #3ba5e7;
}
